requests
psycopg2-binary
codecarbon
pandas
scikit-learn
transformers
torch
accelerate
sentencepiece
numpy
flask
flask-cors
matplotlib
bertopic[sentence-transformers]
streamlit
plotly
wordcloud
vaderSentiment
langdetect
safetensors
